//includes header and nav

h1 NEW-SITE
img(src = "/flamingtext_com-58855465.png", alt = "LOGO")
div#nav
    ul
        li
            a(href='./') home
        li
            a(href='./users') browse users
        li 
            a(href='./good') the good page