form(action='/' method='POST')
    div 
        label(for="username") Enter your User Name: 
        input(name="username" placeholder="username")
    br
    div
        label(for="password") Enter your Password: 
        input(type="password" name="password" placeholder="password")
    br
    button(type="submit") SIGN IN!