doctype html
html
    head
        title I am the webpage Title
    body
        include ./components/header.pug
        h1 The Good Page
        p. 
            The Good Page. 
            This is where the good stuff happens.
        include ./components/footer.pug