doctype html
html
    head
        title I am the webpage Title
    body
        include ./components/header.pug
        h1 Users
        p the users page. Welcome!
        include ./components/footer.pug